:root {
  --white: #ffffff;

  --gray-400: #bdbdbd;
  --gray-500: #989898;
  --gray-600: #535353;

  --black-300: #444444;
  --black-400: #3c4043;
  --black-600: #35373c;
  --black-700: #2b2d31;

  --blue-300: #4772fa;
  --blue-400: #1d46ca;
  --blue-600: #11276e;

  --mg-relative: clamp(
    2.5rem,
    1.8181818181818183rem + 3.4090909090909087vw,
    4rem
  );

  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--black-700);
  margin: 0;
  margin-inline: auto;
  overflow-x: hidden;
}

.logo {
  margin-bottom: 5rem;
}

.tasks {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 622px;
}

.tasks-header {
  width: 100%;
  border-bottom: 1px solid var(--black-400);
}

.tasks-header h1 {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 0;
  margin-bottom: 1.25rem;
}

#empty-state {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: var(--mg-relative) 0;
}

#empty-title {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 0.25rem;
}

#empty-subtitle {
  font-size: 0.875rem;
  color: var(--gray-400);
}


.add-tasks-button {
  background: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  color: var(--gray-500);
  width: 100%;
  padding: 1.2rem;
  margin-top: 20px;
  border: 0.125rem solid var(--gray-500);
  border-style: dashed;
  border-radius: 0.3rem;
}

.add-tasks-button:hover {
  color: var(--white);
  border: 0.125rem solid var(--white);
  border-style: dashed;
}

.add-tasks-button:hover svg path {
  stroke: var(--white);
}

/* ///////////////////////////////////////////////////////////////// */
dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.775);
}

#task-dialog {
  width: 20rem;
  border: none;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

#task-dialog h2 {
  margin-top: 0;
}

#task-dialog form {
  display: flex;
  flex-direction: column;
}

#task-dialog label {
  margin-top: 10px;
}

#task-dialog input,
#task-dialog textarea {
  padding: 8px;
  margin-top: 5px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

#task-dialog button {
  margin-top: 15px;
  padding: 10px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

#cancel-btn {
  background-color: #f44336;
  color: white;
}
